/**
 * Plugin front end styles
 *
 * @package Pootle_Slider
 * @version 1.0.0
 */

.single-pootle-slider {
	display: none;
	#ps-bar {
		font: 16px sans-serif;
		text-align: center;
		background-color: #eee;
		margin: 0 -1000px;
		padding: 16px 1060px;
		* {
			vertical-align: middle;
		}
		.ps-bar-head {
			text-transform: uppercase;
			float: left;
		}
		.right {
			float: right;
		}
		.value {
			width: 50px;
			display: inline-block;
		}
		.dashicons-leftright {
			transform: rotate(90deg);
		}
		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}
	*:not(.ppb-block):not(.panels-tooltip) {
		max-width: none !important;
	}
	.panel-grid:after {
		margin-right: -999px;
		margin-left: -999px;
		border-bottom: 30px solid gray;
		display: block;
	}
	#content .col-full {
		width: 100%;
		max-width: none;
		padding: 0;
		margin: 0;
	}

}

.pootle-slide .ppb-block:hover {
	outline: none;
}

.pootle-slider-wrap .pootle-slide .panel-row-style {
	background-attachment: scroll !important;
	background-position: center;
	overflow: visible;
	height: 100%;
}

.pootle-slider-wrap.ppb-stretch-full-width {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.single.single-pootle-slider .panel-grid-cell-container {
	display: block !important;
	margin: 16px;
}

.single.single-pootle-slider .pootle-slide {
	max-width: 100vw !important;
}

.pootle-slide {
	max-width: 100vw;
	.panel-grid-cell-container {
		height: 100%;
		.panel-grid-cell {
			height: 100%;
		}
	}
	.ppb-block * {
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

/* FlexSlider Styling */
@font-face {
	font-family: flexslider-icon;
	src: url(fonts/flexslider-icon.eot);
	src: url(fonts/flexslider-icon.eot?#iefix) format("embedded-opentype"), url(fonts/flexslider-icon.woff) format("woff"), url(fonts/flexslider-icon.ttf) format("truetype"), url(fonts/flexslider-icon.svg#flexslider-icon) format("svg");
	font-weight: 400;
	font-style: normal;
}

.pootle-slider-wrap {
	max-width: 100vw;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	position: relative;
	overflow: hidden;
	a.edit-pootle-slider {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 97;
		font: 35px sans-serif;
		color: #fff;
		transform: translate(-50%, -50%);
		background: rgba(0,0,0,0.5);
		box-shadow: 0 0 0 999px rgba(0,0,0,0.5);
		opacity: .25;
	}
	&:hover {
		a.edit-pootle-slider, a.edit-pootle-slider:hover {
			opacity: 1;
			bottom: auto;
		}
	}
	&.pootle-slider-transparent {
		opacity: 0;
		/* Keep slider transparent in the beginning */
	}
	.flex-container a:hover, .flex-slider a:hover {
		outline: 0;
	}
	.flex-control-nav, .flex-direction-nav {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.pootle-slider:not(.type-pootle-slider) {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.pootle-slider-wrap {
	.flex-pauseplay span {
		text-transform: capitalize;
	}
	.flex-direction-nav a, .flex-pauseplay a {
		text-decoration: none;
		display: block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border: none;
		margin: 0;
		position: absolute;
		bottom: -7px;
		z-index: 10;
		overflow: hidden;
		opacity: 0;
		cursor: pointer;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		text-align: center;
	}
}

.ppb-panels {
	#TB_secondLine, .tb-close-icon, #TB_prev a, #TB_next a {
		color: #fff;
		-moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
		-webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
	}
}

.pootle-slider-wrap {
	.flex-direction-nav a, .flex-pauseplay a {
		color: #fff;
		-moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
		-webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
	}
	&:hover a {
		opacity: 1;
		bottom: 7px;
		&:hover {
			opacity: 0.7;
		}
	}
	.flex-direction-nav a {
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
}

.flex-control-nav {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#pootle-page-builder .panel-grid .panel-row-style {
	overflow: visible;
}

.pootle-slider-wrap {
	.flex-direction-nav a:before {
		font-family: flexslider-icon;
		font-size: 44px;
		display: inline-block;
		content: '\f001';
		opacity: 0.5;
	}
	.flex-pauseplay a:before {
		font-family: flexslider-icon;
		font-size: 44px;
		display: inline-block;
		content: '\f001';
		opacity: 0.5;
		content: '\f004';
	}
	.flex-direction-nav {
		a.flex-next:before {
			content: '\f002';
		}
		.flex-prev {
			left: 0;
		}
		.flex-next {
			right: 0;
		}
		.flex-disabled {
			opacity: 0 !important;
			filter: alpha(opacity = 0);
			cursor: default;
			z-index: -1;
		}
	}
	.flex-pauseplay a {
		right: 60px;
		&.flex-play:before {
			content: '\f003';
		}
	}
	.flex-control-nav {
		z-index: 7;
		left: 0;
		right: 0;
		position: absolute;
		bottom: -7px;
		opacity: 0;
		text-align: center;
	}
	&:hover .flex-control-nav {
		bottom: 7px;
		opacity: 1;
	}
	.flex-control-nav li {
		margin: 11px 16px;
		display: inline-block;
		zoom: 1;
	}
	.flex-control-paging {
		a {
			width: 30px;
			height: 30px;
			display: block;
			background: rgba(255, 255, 255, 0.5);
			cursor: pointer;
			text-indent: -9999px;
			-webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5), 0 0 2px 1px rgba(0, 0, 0, 0.7);
			box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5), 0 0 2px 1px rgba(0, 0, 0, 0.7);
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
		}
		li a {
			&:hover {
				background: #ddd;
			}
			&.flex-active {
				background: #fff;
				cursor: default;
			}
		}
	}
	.flex-control-thumbs {
		margin: 5px 0 0;
		position: static;
		overflow: hidden;
		li {
			width: 25%;
			float: left;
			margin: 0;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
			opacity: .7;
			cursor: pointer;
			-moz-user-select: none;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			&:hover {
				opacity: 1;
			}
		}
		.flex-active {
			opacity: 1;
			cursor: default;
		}
	}
}

@media only screen and (max-width: 500px) {
	.ppb-photo-gallery-item-wrap {
		min-width: 49.91%;
		width: 100%;
	}
	.pootle-slider-wrap .flex-pauseplay a {
		display: none;
	}
	.ppb-photo .flex-direction-nav a {
		bottom: auto;
		top: 50%;
		margin-top: -25px;
	}
	.pootle-slider-wrap .flex-direction-nav {
		.flex-prev {
			right: auto;
			left: 25px;
		}
		.flex-next {
			right: 25px;
		}
	}
}